.editBtn{
  background-color: #ea6664;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}
.editBtn:hover{
  transform: scale(.9);
}

.inputEdit{
  border-radius: 0%;
  border-color: black;

}

.dropColor{
  color: #ea6664;
}
