
<div class=" flex flex-row gap-4">


<a href="#" class="block p-4 h-50 w-50 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="flex flex-row ">
  <div class="flex-3 grow">

    <div class="text-gray-500 text-sm">TOTAL USERS</div>
    <div class=" font-semibold pb-3"> {{users.length}} user</div>
    <span class="bg-purple-200  p-1 tm-block "><i class=" fa-solid  fa-chart-line "></i> 12.5%</span>
  </div>
  <div class="w-50 h-50 	 	pt-2 flex-1"><i class="fa-solid customchart fa-chart-simple"></i></div>

  </div>
  </a>
  <a href="#" class="block p-4 h-50 w-50 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex flex-row ">
    <div class="flex-3 grow">

      <div class="text-gray-500 text-sm">TOTAL COURSE</div>
      <div class=" font-semibold pb-3"> {{courses.length}} Course</div>
      <span class="bg-purple-200 tm-block 	p-1 "><i class=" fa-solid    fa-chart-line "></i> 76%</span>
    </div>
    <div class="w-50 h-50 	 	pt-2 flex-1"><i class="fa-solid customchart fa-chart-simple"></i></div>

    </div>
    </a><a href="#" class="block p-4 h-50 w-50 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <div class="flex flex-row ">
      <div class="flex-3 grow">

        <div class="text-gray-500 text-sm">TOTAL SUBCATEGORIES</div>
        <div class=" font-semibold pb-3"> {{subcategories.length}} subcategory</div>
        <span class="bg-purple-200 tm-block 	p-1 "><i class=" fa-solid    fa-chart-line "></i> 60.7%</span>
      </div>
      <div class="w-50 h-50 	 	pt-2 flex-1"><i class="fa-solid customchart fa-chart-simple"></i></div>

      </div>
      </a><a href="#" class="block p-4 h-50 w-50 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex flex-row ">
        <div class="flex-3 grow">

          <div class="text-gray-500 text-sm">TOTAL CATEGORIES</div>
          <div class=" font-semibold pb-3"> {{categories.length}} category</div>
          <span class="bg-purple-200 tm-block 	p-1 "><i class=" fa-solid    fa-chart-line "></i> 34.6%</span>
        </div>
        <div class="w-50 h-50 	 	pt-2 flex-1"><i class="fa-solid customchart fa-chart-simple"></i></div>

        </div>
        </a>


</div>
