.add {
  background-color: #eb4d4b;
  color: white;
  padding: 10px;
  border: none;
}

.add:hover {
  background-color: #ea6664;
}

.editBtn{
  transform: none;
  transition: 0.1s all;
}

.editBtn:hover{
  transform: scale(0.95) translateZ(0px);
  transition: 0.1s all;
  background-color: #ea6664;
}

