.add {
  background-color: #a435f0;
  color: white;
  padding: 10px;
  border: none;
}

.add:hover {
  background-color: #8217ca;
}

.editBtn{
  transform: none;
  transition: 0.1s all;
}

.editBtn:hover{
  transform: scale(0.95) translateZ(0px);
  transition: 0.1s all;
}

.imgHeight{
  
}
