.add {
  background-color: #eb4d4b;
  color: white;
  padding: 10px;
  border: none;
}

.add:hover {
  background-color: #ea6664;
}

.editBtn{
  transform: none;
  transition: 0.1s all;
}

.editBtn:hover{
  transform: scale(0.95) translateZ(0px);
  transition: 0.1s all;
  background-color: #ea6664;
}

.divSearch{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.divSearch input{
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: white;
  padding: 1.2rem;
  font-weight: 500;
  outline: none;
}

.divSearch button{
  color: gray;
  height: 3rem;
  width: 5rem;
  font-size: 1.1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: #ea6664;
  color: white;
  outline: none;
}

.divSearch button:hover{
  opacity: 1;
  cursor: pointer;
}

