<div class="p-2">
  <button class="add editBtn">Add Course</button>

  <div class="row">
    <div class="col-4 mb-2 p-4" *ngFor="let course of courses">
      <div
        class="card imgHeight text-center shadow"
        style="width: 20rem; height: 20rem"
      >
        <img [src]="getImage(course.photo)" class="" alt="{{ course.title }}" />
        <h5 class="card-title p-2 testColor">{{ course.title }}</h5>
        <p class="card-text p-2">{{ course.price | currency }}</p>
        <div class="text-center p-2 mt-3 d-flex">
          <button
            class="border-1 mr-1 editBtn bg-gray-200 w-50 border-black hover:text-white p-2 hover:border-none hover:bg-violet-500"
            (click)="deleteCourse(course._id)"
          >
            Delete
          </button>
          <button
            class="border-1 ml-1 editBtn bg-gray-200 w-50 border-black hover:text-white p-2 hover:border-none hover:bg-violet-500"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <i
      (click)="prevPage()"
      class="add fa fa-chevron-left p-3 rounded-full hover:text-white"
    ></i>
    <i
      (click)="nextPage()"
      class="add fa fa-chevron-right p-3 ml-2 rounded-full hover:text-white"
    ></i>
  </div>
</div>
