<app-search></app-search>

<div class="p-2">
  <button class="add editBtn" (click)="AddCourseCOMP()">Add Course</button>

  <div class="row">
    <div class="col-4 mb-2 p-4" *ngFor="let course of courses">
      <div class="card imgHeight shadow flex flex-col" style="width: 20rem;">
        <img
          [src]="getImage(course.photo)"
          [routerLink]="['/Detials', course._id]"
          class="rounded-t-md flex-2"
          alt="{{ course.title }}"
        />
        <div class="flex-2 flex-col">
          <h5 class="card-title pt-2 font-bold pl-2 testColor">{{ course.title }}</h5>
          <p class="text-sm pl-2">by : {{ course.instructor }}</p>
          <div>
            <span class="font-bold p-2">EGP{{ course.price }}</span>
            <span class="line-through text-sm text-gray-500 ml-3"
              >EGP{{ course.DiscountPrice }}</span
            >
          </div>
          <div class="pl-2 text-yellow-500">
            <span class="font-bold">{{ course.rating }}</span>
            <span><i class="fa fa-star"></i></span>
          </div>
        </div>
        <div class="text-center flex-1 flex-row p-2 mt-3">
          <button
            class="border-1 editBtn bg-gray-200 w-50 border-black hover:text-white p-2 hover:border-none"
            (click)="deleteCourse(course._id)"
          >
            Delete
          </button>
          <button
            class="border-1 editBtn bg-gray-200 w-50 border-black hover:text-white p-2 hover:border-none"
            (click)="updateCourseCOMP(course._id)"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <i
      (click)="prevPage()"
      class="add fa fa-chevron-left p-3 rounded-full hover:text-white"
    ></i>
    <i
      (click)="nextPage()"
      class="add fa fa-chevron-right p-3 ml-2 rounded-full hover:text-white"
    ></i>
  </div>
</div>
