

<div class="p-2">
  <div class="row">
    <div class="col-4 mb-2 p-4" *ngFor="let user of users">
      <div class="card shadow"  style="width: 20rem">
        <img
          [src]="getImage(user.photo)"
          class="rounded-full w-50 ml-20 mt-2"
          alt="{{ user.username }}"
        />
        <div class="border-t-2 m-2">

          <h5 class="card-title mt-4 mb-4"><strong>Name:</strong>  {{ user.username }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="text-center d-flex justify-content-between">
          <button class="border-1 editBtn bg-gray-200 w-100 border-gray font-bold mt-2 hover:text-white p-2 hover:border-none hover:bg-violet-500" (click)="deleteUser(user._id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
