<div class="p-2">
<button class="add">Add SubCategory</button>
<div class="row">
  <div class="col-4 mb-2 p-4" *ngFor="let subCategory of subCategories">
    <h5 class="card-title my-component">{{ subCategory.name }}</h5>
    <p class="card-text">{{ subCategory.title}}</p>
    <div class="text-center d-flex justify-content-between">
      <button class="btn btn-danger" (click)="deleteSubCategory(subCategory._id)">Delete</button>
      <button class="btn btn-warning">Update</button>
    </div>
  </div>
</div>
</div>